/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:40px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:Futura, sans serif; 
    line-height: 22px;
    background: #ccebd1; 
    color:#0b3818;
	
}


div#container {
    width:800px
        border:1px solid black; 
        margin-left: auto; 
        margin-right: auto; 
        padding:30px;
        text-align: left;
        background:#d3e8d9;
	
}

header {
    text-align:center; 
    font-family:Impact, sans-serif;
    background-color:#ccebd1; 
    color: #d13d5a;
    
}


img { 
width: 25%
   
}

h1,h2 {
    margin:0px; 
    padding:20px; 
}

h2 {
    padding:12px;
}

footer {
    font-size: 0.6em; 
    text-align:center; 
    padding-top: 50px; 
    background:#ccebd1;
}

